{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}{{user.name}} 个人主页{% endblock %}

{% block content %}
<div class="page-header">
    <div class="d-flex justify-content-start">
        <img class="avatar-xm align-self-start mr-3" src="{{ url_for('user.get_avatar', filename=user.avatar_m) }}">
        <h3>{{user.name}}</h3>
        <span class="text-muted"><small>个人主页</small></span>

        {% if current_user.is_authenticated %}
        &nbsp;&nbsp;&nbsp;
        {% if current_user != user %}
            {% if not current_user.is_following(user) %}
            <form class="inline" method="post" action="{{ url_for('user.follow', username=user.username, next=request.full_path) }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit" class="btn btn-primary" title="关注作者">
                    <span class="oi oi-check"></span>关注
                </button>
            </form>
            {% else %}
            <form class="inline" method="post" action="{{ url_for('user.unfollow', username=user.username, next=request.full_path) }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit" class="btn btn-secondary" id="demo" onmouseover="document.getElementById('demo').innerHTML='取消关注';" onmouseout=document.getElementById('demo').innerHTML='已关注';>
                    已关注
                </button>
            </form>
            {% endif %}
        {% endif %}
        {% endif %}

    </div>
</div>
<p>
    {% if user.location %}
    <span class="oi oi-map-marker"></span> {{ user.location }}&nbsp;·
    {% endif %}
    <span class="oi oi-calendar"></span> 注册时间 {{ moment(user.member_since).format('LL') }}&nbsp;·
    {{ user.following.count() }} 关注的人&nbsp;·
    {{ user.followers.count() }} 关注者
    {% if current_user.username == user.username %}
    <a class="float-right btn btn-primary btn-sm" role="button" href="{{ url_for('user.edit_profile') }}">编辑资料</a>
    {% endif %}
</p>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active">
            文章 {{user.posts|length}}
        </a>
        {% if current_user == user %}
        <a class="nav-item nav-link text-secondary" href="{{ url_for('user.post_replies', username=user.username) }}">
            文章评论
        </a>
        <a class="nav-item nav-link text-secondary" href="{{ url_for('user.user_comments', username=user.username) }}">
            我的评论
        </a>
        <a class="nav-item nav-link text-secondary" href="{{ url_for('user.user_replies', username=user.username) }}">
            收到的回复
        </a>
        {% endif %}
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active">
        {% if posts %}
        {% for post in posts %}
        <h4>
            <a class="text-primary" href="{{ url_for('main.show_post', post_id=post.id) }}">{{ post.title }}</a>
        </h4>
        <small>
            &nbsp;<a href="{{ url_for('main.category_post', category_name=post.category.name) }}" class="float-right">{{
            post.category.name }}</a>
        </small>
        <p>
            {{ post.body|striptags|truncate(length=256,end='......') }}
            <small><a href="{{ url_for('main.show_post', post_id=post.id) }}">阅读全文</a></small>
        </p>
        <small>
            评论：<a href="{{ url_for('main.show_post', post_id=post.id) }}#comments">{{ post.comments|length }}</a>
        </small>
        <div class="float-right">
            <small class="btn disabled" data-toggle="tooltip" data-placement="top" data-delay="200"
                   data-timestamp="{{ post.timestamp.strftime('%Y-%m-%dT%H:%M:%SZ') }}">
                {{ moment(post.timestamp).fromNow(refresh=True) }}
            </small>
        </div>
        {% if not loop.last %}
        <hr>
        {% endif %}
        {% endfor %}
        <div class="page-footer mt-3">{{ render_pagination(pagination) }}</div>
        {% else %}
        还未发布任何文章~
        {% endif %}
    </div>
</div>
{% endblock %}