{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}注册{% endblock %}
{% block header %}注册{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-6 mt-5">
        {{render_form(form)}}
    </div>
</div>
<hr class="mt-5">
{% endblock %}

{% block footer %}
<div class="row justify-content-md-center">
    <div class="col-md-6">
        <form action="{{url_for('auth.login')}}">
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
            <button type="submit" class="btn btn-success" style="float:right">登录</button>
        </form>
    </div>
</div>
{% endblock %}